@model web_quanao.Models.ProductImage
@{
    ViewBag.Title = "Xóa ?nh";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h5>B?n ch?c ch?n mu?n xóa ?nh này?</h5>
<img src="@Url.Content(Model.ImageUrl)" style="height:120px" class="img-thumbnail"/>
@using (Html.BeginForm("Delete", "ProductImages", FormMethod.Post)){
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ImageId)
    <a class="btn btn-secondary" href="@Url.Action("Index")">H?y</a>
    <button class="btn btn-danger" type="submit">Xóa</button>
}
