@model web_quanao.Models.Size
@{
    ViewBag.Title = "Xóa Size";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h5>B?n ch?c ch?n mu?n xóa size: @Model.SizeName?</h5>
@using (Html.BeginForm("Delete", "Sizes", FormMethod.Post)){
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SizeId)
    <a class="btn btn-secondary" href="@Url.Action("Index")">H?y</a>
    <button class="btn btn-danger" type="submit">Xóa</button>
}
