@{
    ViewBag.Title = "Thời trang Trẻ Em";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="container py-4">
    <h1 class="mb-4">Thời trang trẻ em</h1>
    <p>Đang cập nhật.</p>
    <a href="@Url.Action("Index","Home")" class="btn btn-outline-secondary">Về  trang chủ </a>
</section>
