@model web_quanao.Models.Product
@{
    ViewBag.Title = "Xóa s?n ph?m";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h5>B?n ch?c ch?n mu?n xóa s?n ph?m: @Model.Name?</h5>
@using (Html.BeginForm("Delete", "Products", FormMethod.Post, new { @class="js-submit" })){
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ProductId)
    <a class="btn btn-secondary" href="@Url.Action("Index")" data-loading>H?y</a>
    <button class="btn btn-danger" type="submit" data-loading>Xóa</button>
}
